---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import "../styles/global.css"
---

<!DOCTYPE html>
<html lang="en">
	<head>
	</head>
	<body>
		<main class="max-w-5xl leading-tight  font-bold font-poppins mx-auto flex h-screen items-center text-center justify-center text-8xl">
			<div>
				<span id="u">

					Authentication
				</span>
				 & 
				 <span id="u">

					 Authorization 
					</span>
				<span id="annotate">
					Made Simple

				</span>
				
				 For Small Apps</div>
			
		</main>
	</body>
	<script>
import { annotate } from 'rough-notation';
const e = document.querySelector('#annotate') as HTMLElement
const f = document.querySelector('#u') as HTMLElement
const annotation = annotate(e, { type: 'highlight', color: '#f9d423',padding:0,multiline:true,animate:false });
const annotation2 = annotate(f, { type: 'underline', color: '#f9d423',padding:0,multiline:true,animate:false });
annotation.show();
annotation2.show();
	</script>
</html>
